@mixin clear{
  content: "";
  display: block;
  clear: both;
}

$auto : 0 auto;

/**사스에서만 $ 사용**/
/**믹스인이라는 자리를 잡고 자리의 이름을 붙여 줌**/

/**로우픈이 붙은 사스 파일은 min.css가 생성되지 않음. <---굳이 실체로 보이지 않는 아이들이 들어감.
일부러 컨파일 못하게 로우픈을 넣어서 함 = 서버에 안올려도 댐!.
근데 본 사스 파일에 연결은 해서 쓸 수 있음. 대신 상대경로로.**/

/**순치적인 프로세스가 묶여있는 게 함수(F/FUNCTION).**/
