<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>포트폴리오</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/scss/main.min.css?var=<?php echo time(); ?>">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

  <!--js-->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="/js/slide.js"></script>
  <script src="/js/script.js"> </script>

  <!--plugin-->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="./js/script.js"> </script>
  <script src="./js/slide.js"> </script> -->
</head>
<body>
  <header id="header">
    <div class="full">
      <div class="search">
        <h1><a href="http://jy247.dothome.co.kr"><img src="/img/logo_01.png" alt=""></a></h1>
        <div class="util">
          <div class="util_menu">
            <a href="/sub/loginn.html">LOGIN</a>
            <a href="/sub/join.html">JOIN</a>
            <a href="/sub/loginn.html">MY PAGE</a>
          </div>
        <div class="search_d">
          <a href="#none" class="search_ic"><img src="/img/icon_01-01.png" alt=""></a>
          <input type="text" name="search"  maxlength="180" placeholder="궁금하신게 있으신가요?">
        </div>
        <div class="search_bg">
          <div class="search_box">
            <button class="closer" type="button" name="button">X</button>
            <a href="#none"class="search_ic02"><img src="/img/icon_01-01.png" alt=""></a>
            <input type="text" name="search"  maxlength="180" placeholder="궁금하신게 있으신가요?">
            <p class="search_letter">인기 검색어</p>
            <div class="search_name">
            </div>
            <p class="search_letter02">여름추천게임      유튜버라온콜라보        뉴스선정</p>
            <p class="search_letter02">재밌는게임       7월이벤트       무서운게임</p>
            <p class="search_letter02">점검시간       힐링       로그인하기</p>
            <p class="search_letter02">이벤트당첨문자      추천게임      </p>
          </div>
        </div>
        </div>
      </div>
      <nav class="util_02">
        <div class="nav_bg"></div>
        <ul class="fir_st">
          <li></li>
          <li>
            <a href="/sub/news.html">소개</a>
            <ul class="tw_o">
              <li><a href="/sub/news.html">회사소개</a></li>
              <li><a href="/sub/ci.html">CI</a></li>
            </ul>
          </li>
          <li>
            <a href="/sub/contents.html">컨텐츠</a>
            <ul class="tw_o">
              <li><a href="/sub/contents.html">CONTENTS</a></li>
              <li><a href="/sub/sale.html">SALE</a></li>
            </ul>
          </li>
          <li>
            <a href="/sub/free_commu.html">커뮤니티</a>
            <ul class="tw_o">
              <li><a href="/sub/free_commu.html">커뮤니티</a></li>
              <li><a href="/sub/with_video.html">콜라보레이션 확인하기</a></li>
            </ul>
          </li>
          <li>
            <a href="/sub/event_01.html">이벤트</a>
            <ul class="tw_o">
              <li><a href="/sub/event_01.html">이벤트</a></li>
              <li><a href="/sub/event_02.html">당첨자 발표</a></li>
            </ul>
          </li>
          <li>
            <a href="/sub/loginn.html">마이페이지</a>
            <ul class="tw_o">
              <li><a href="/sub/loginn.html">마이페이지</a></li>
            </ul>
          </li>
          <li>
            <a href="/sub/gongji_full.html">공지사항</a>
            <ul class="tw_o">
              <li><a href="/sub/gongji_full.html">공지사항</a></li>
              <li><a href="/sub/question.html">자주하는 질문</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
